﻿<h1>Counties</h1>
<p>This is a list of all the Counties.</p>
<div>
    <button (click)="openCreate()" type="submit" class="btn btn-primary">Add</button>
    <button (click)="deleteAll()" type="submit" [disabled]="!isMarkedForDeletion()" class="btn btn-danger">Delete</button>
</div>
<table class='table table-hover' *ngIf="counties">
    <thead>
        <tr>
            <th>County</th>
            <th>Region</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let county of counties" (click) ="showDetails(county)">
            <td>{{ county.name }}</td>
            <td>{{ county.region.name }}</td>
            <td>{{ county.region.country.name }}</td>
            <td>
                <div (mouseover)='checkBoxOver()' (mouseout)='checkBoxOut()' [ngClass]="{'disabled': !county.selected}">
                    <input type="checkbox" [(ngModel)]="county.selected">
                </div>
            </td>
        </tr>
    </tbody>
</table>
