﻿<div>
    <app-grid [gridLinkColor] = "'#01a7b7'"
        (deleteEmitter) = "deleteAll($event)"
        (openEmitter) = "show($event)"
        (addEmitter) = "openCreate()"
        [heading] = "'Client'"
        [tableHeaderTranslations] = "headerTranslation"
        [paginationId] = "'clientPagination'"
        [page] = "page"
        [data]= "data"
        [headers]="clientHeaders"
        [isBusy]="isBusy"></app-grid>
  </div>
