﻿<div>
  <app-grid [gridLinkColor] = "'#01a7b7'"
      (deleteEmitter) = "deleteAll($event)"
      (openEmitter) = "show($event)"
      (addEmitter) = "openCreate()"
      [heading] = "'Contact'"
      [tableHeaderTranslations] = "headerTranslation"
      [paginationId] = "'contactPagination'"
      [page] = "page"
      [data]= "data"
      [headers]="contactHeaders"
      [isBusy]="isBusy"></app-grid>
</div>
