﻿<h1>Towns</h1>
<p>This is a list of all the Towns.</p>
<div>
    <button (click)="openCreate()" type="submit" class="btn btn-primary">Add</button>
    <button (click)="deleteAll()" type="submit" [disabled]="!isMarkedForDeletion()" class="btn btn-danger">Delete</button>
</div>
<table class='table table-hover' *ngIf="cityTowns">
    <thead>
        <tr>
            <th>Town</th>
            <th>County</th>
            <th>Region</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cityTown of cityTowns" (click) ="showDetails(cityTown)">
            <td>{{ cityTown.name }}</td>
            <td>{{ cityTown.county.name }}</td>
            <td>{{ cityTown.county.region.name }}</td>
            <td>{{ cityTown.county.region.country.name }}</td>
            <td>
                <div (mouseover)='checkBoxOver()' (mouseout)='checkBoxOut()' [ngClass]="{'disabled': !cityTown.selected}">
                    <input type="checkbox" [(ngModel)]="cityTown.selected">
                </div>
            </td>
        </tr>
    </tbody>
</table>
