﻿<div class="modal-dialog" role="document">
    <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Town / City</h5>
            </div>
            <div data-bind="with:data" class="modal-body">
                <div>
                    <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['name'].valid}">
                        <label for="name">Name</label>
                        <input [formControl]="complexForm.controls['name']" id="name" maxlength="100" class="form-control" />
                        <div *ngIf="complexForm.controls['name'].hasError('required') && complexForm.controls['name'].touched" class="alert alert-danger"> Name is required.</div>
                    </div>
                    <div class="form-group"  [ngClass]="{'has-error':!complexForm.controls['county'].valid}">
                        <label for="County">County</label>
                        <select *ngIf="counties.length" [compareWith]="compareFn" [formControl]="complexForm.controls['county']" class="form-control ash-select">
                            <option *ngFor="let county of counties" [ngValue]="county">{{county.name}}</option>
                        </select>
                        <div *ngIf="complexForm.controls['county'].hasError('required') && complexForm.controls['county'].touched" class="alert alert-danger"> County is required.</div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['region'].valid}">
                        <label for="name">Region</label>
                        <select  *ngIf="regions.length" [compareWith]="compareFn" [formControl]="complexForm.controls['region']" class="form-control ash-select">
                            <option *ngFor="let r of regions" [ngValue]="r">{{r.name}}</option>
                        </select>
                        <div *ngIf="complexForm.controls['region'].hasError('required') && complexForm.controls['region'].touched" class="alert alert-danger"> Region is required.</div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['country'].valid}">
                        <label for="name">Country</label>
                        <select  *ngIf="countries.length" [compareWith]="compareFn" [formControl]="complexForm.controls['country']" class="form-control ash-select">
                            <option *ngFor="let co of countries" [ngValue]="co">{{co.name}}</option>
                        </select>
                        <div *ngIf="complexForm.controls['country'].hasError('required') && complexForm.controls['country'].touched" class="alert alert-danger"> Country is required.</div>
                    </div>
                </div>
                <div class="form-group">
                  <label for="name">Mark for Deletion</label>
                  <input type="checkbox" (click) = "switchMarkForDeletion()">
              </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">OK</button>
                <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
            </div>
        </div>
    </form>
</div>
