﻿<div data-bind="with:data">
    <div>
        <div class="form-group" [ngClass]="{'has-error':!group.controls['firstname'].valid}">
            <label for="name">Firstname</label>
            <input class="input" [formControl]="group.controls['firstname']" id="name" maxlength="100" class="form-control" />
            <div *ngIf="group.controls['firstname'].hasError('required') && group.controls['firstname'].touched" class="alert alert-danger"> First Name is required.</div>
        </div>
        <div class="form-group" [ngClass]="{'has-error':!group.controls['surname'].valid}">
            <label for="name">Surname</label>
            <input [formControl]="group.controls['surname']" id="name" maxlength="100" class="form-control" />
            <div *ngIf="group.controls['surname'].hasError('required') && group.controls['surname'].touched" class="alert alert-danger"> Surname is required.</div>
        </div>
        <div class="form-group" [ngClass]="{'has-error':!group.controls['mobile'].valid}">
            <label for="name">Mobile</label>
            <input [formControl]="group.controls['mobile']" id="mobile" maxlength="100" class="form-control" />
            <div *ngIf="group.controls['mobile'].hasError('required') && group.controls['mobile'].touched" class="alert alert-danger"> Mobile is required.</div>
        </div>
        <div class="form-group" [ngClass]="{'has-error':!group.controls['telephone'].valid}">
            <label for="name">Telephone</label>
            <input [formControl]="group.controls['telephone']" id="name" maxlength="100" class="form-control" />
            <div *ngIf="group.controls['telephone'].hasError('required') && group.controls['telephone'].touched" class="alert alert-danger"> Telephone is required.</div>
        </div>
        <div class="form-group" [ngClass]="{'has-error':!group.controls['email'].valid}">
            <label for="name">Email</label>
            <input [formControl]="group.controls['email']" id="email" maxlength="100" class="form-control" />
            <div *ngIf="group.controls['email'].hasError('required') && group.controls['email'].touched" class="alert alert-danger"> Email is required.</div>
        </div>
        <div class="form-group" [ngClass]="{'has-error':!group.controls['skype'].valid}">
            <label for="name">Skype</label>
            <input [formControl]="group.controls['skype']" id="email" maxlength="100" class="form-control" />
            <div *ngIf="group.controls['skype'].hasError('required') && group.controls['skype'].touched" class="alert alert-danger"> Skype is required.</div>
        </div>
        <div class="form-group" [ngClass]="{'has-error':!group.controls['website'].valid}">
            <label for="name">Website</label>
            <input [formControl]="group.controls['website']" id="email" maxlength="100" class="form-control" />
            <div *ngIf="group.controls['website'].hasError('required') && group.controls['website'].touched" class="alert alert-danger"> Website is required.</div>
        </div>
        <div class="form-group">
          <label for="name">Mark for Deletion</label>
          <input type="checkbox" (click) = "switchMarkForDeletion()">
        </div>
    </div>
</div>
