﻿<app-generic-smart [complexForm] = "complexForm"
                   [heading]="'Client'"
                   [isBusy] = "loadProcessed < 2"
                    (submitEmmiter)="submitForm($event)"
                    (closeEmmiter) = "close()">
  <app-client-dumb [cityTowns] = "cityTowns"
                   [group]="complexForm" [client]="entity"></app-client-dumb>
</app-generic-smart>

