﻿<app-generic-smart [complexForm] = "complexForm"
                   [heading]="'Address'"

(submitEmmiter)="submitForm($event)"
(closeEmmiter) = "close()">
  <app-address-dumb [cityTowns] = "cityTowns"
                                    [group]="complexForm"
                                    [address] ="entity"></app-address-dumb>
</app-generic-smart>
