﻿<h1>Regions</h1>
<p>This is a list of all the Regions.</p>
<div>
    <button (click)="openCreate()" type="submit" class="btn btn-primary">Add</button>
    <button (click)="deleteAll()" type="submit" [disabled]="!isMarkedForDeletion()" class="btn btn-danger">Delete</button>
</div>
<table class='table table-hover' *ngIf="regions && regions.length">
    <thead>
        <tr>
            <th>Region</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let region of regions" (click) ="showDetails(region)">
            <td>{{ region.name }}</td>
            <td>{{ region.country.name }}</td>
            <td>
                <div (mouseover)='checkBoxOver()' (mouseout)='checkBoxOut()' [ngClass]="{'disabled': !region.selected}">
                    <input type="checkbox" [(ngModel)]="region.selected">
                </div>
            </td>
       </tr>
    </tbody>
</table>
