
<div style="margin-top:40%; padding:20px 30px 20px 30px" class="col-md-12">
  <h2>Register</h2>
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
      <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
  </div>
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !confirmPassword.valid }">
    <label for="confirm-password">Confirm Password</label>
    <input type="password" class="form-control" name="confirm-password" [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel" required />
    <div *ngIf="f.submitted && !confirmPassword.valid" class="help-block">Confirm Password is required</div>
  </div>
</div>
