﻿<h1>Countries</h1>
<p>This is a list of all the Countries.</p>
<div>
    <input (click)="openCreate()" type="button" value="Add" class="btn btn-primary" />
    <input (click)="deleteAll()" type="button" value="Delete" [disabled]="!isMarkedForDeletion()" class="btn btn-danger"/>
</div>
<table class='table table-hover' *ngIf="countries">
    <thead>
        <tr>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of countries" (click) ="showDetails(c)">
            <td>{{ c.name }}</td>
            <td>
                <div (mouseover)='checkBoxOver()' (mouseout)='checkBoxOut()' [ngClass]="{'disabled': !c.selected}">
                    <input type="checkbox" [(ngModel)]="c.selected">
                </div>
            </td>
        </tr>
    </tbody>
</table>
