<div class="modal-dialog" role="document">
    <form [formGroup]="complexForm" (ngSubmit)="submitEmmiter.emit(complexForm.value)">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{heading}}</h5>
            </div>
            <div data-bind="with:data" class="modal-body">
              <app-busy-indicator [busy]="isBusy"></app-busy-indicator>
              <ng-content *ngIf="!isBusy"></ng-content>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary"  [disabled]="!complexForm.valid">OK</button>
                <button type="button" class="btn btn-default" (click)="closeEmmiter.emit(null)">Cancel</button>
            </div>
        </div>
    </form>
</div>
