﻿ <app-generic-smart [complexForm] = "complexForm" [heading]="'Contact'"
                    [isBusy]="isBusy"
                    (submitEmmiter)="submitForm($event)"
                    (closeEmmiter) = "close()">
    <app-contact-dumb [group]="complexForm" [contact]="entity"></app-contact-dumb>
 </app-generic-smart>
