<div class='container-fluid'>
  <div class='row'>
      <div *ngIf="!isLogon" class="col-sm-3 col-md-3 col-lg-3">
          <app-nav-menu></app-nav-menu>
      </div>
      <div [ngClass]="{'col-sm-9 col-md-9 col-lg-9':!isLogon, 'col-lg-offset-7 col-lg-5 col-md-offset-7 col-md-5 col-sm-offset-7 col-sm-5': isLogon}">
          <router-outlet></router-outlet>
      </div>
  </div>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <!-- <ng4-loading-spinner> </ng4-loading-spinner> -->
</div>
