body {
}
select {
    height: 35px;
}


.auth-body {
  height: 100%;
  background-image: url('../assets/AGILE LOGO WHITE RGB.jpg');
  background-repeat: no-repeat;
  background-size: 60% 100%;
}

html {
    height: 100%!important;
}
