﻿<!-- <div class="form-group" [ngClass]="{'has-error':!group.controls['name'].valid}">
    <label for="name">Name</label>
    <input [formControl]="group.controls['name']" id="name" maxlength="100" class="form-control" />
    <div *ngIf="group.controls['name'].hasError('required') && group.controls['name'].touched" class="alert alert-danger"> Name is required.</div>
</div> -->
<div class="row">
    <div class="col-md-6">
        <app-contact-dumb [group]="group.controls['contact']" [contact]="clientModel?.contact"></app-contact-dumb>
    </div>
    <div class="col-md-6">
        <app-address-dumb [group]="group.controls['address']" [cityTowns] = "cityTowns" [address]="clientModel?.address"></app-address-dumb>
    </div>
  </div>

