// @import "../../../styles/colors";

/**
 INLINE COMPONENT SCSS
 Rules for the <app-busy-indicator> component
 */
.busy-indicator {
    position: absolute;
    width: 90%;
    text-align: center;
    z-index: 99999;

    .fa-fw {
        width: unset;
    }
}

// /**
//  ATTRIBUTE COMPONENT SCSS
//  Rules for the <x [im2Busy]="condition"> component
//  */
// .im2-busy {
//     color: $standard-font-color;
//     z-index: 99999;
// }

// :host[aria-busy=false] {
//     //noinspection CssInvalidPseudoSelector
//     ::ng-deep.im2-busy {
//         display: none !important;
//     }
// }

// :host[aria-busy=true] {
//     //noinspection CssInvalidPseudoSelector
//     ::ng-deep > :not(.im2-busy) {
//         display: none !important;
//     }
// }
