﻿<div class="modal-dialog" role="document">
    <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Region</h5>
            </div>
            <div data-bind="with:data" class="modal-body">
                <div>
                    <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['name'].valid}">
                        <label for="name">Name</label>
                        <input [formControl]="complexForm.controls['name']" id="name" maxlength="100" class="form-control" />
                        <div *ngIf="complexForm.controls['name'].hasError('required') && complexForm.controls['name'].touched" class="alert alert-danger"> Name is required.</div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['country'].valid}">
                        <label for="name">Country</label>
                        <select [compareWith]="compareFn" style="height:35px" [formControl]="complexForm.controls['country']" class="form-control">
                            <option *ngFor="let c of countries" [ngValue]="c">{{c.name}}</option>
                        </select>
                        <div *ngIf="complexForm.controls['country'].hasError('required') && complexForm.controls['country'].touched" class="alert alert-danger"> Country is required.</div>
                    </div>
                </div>
                <div class="form-group">
                  <label for="name">Mark for Deletion</label>
                  <input type="checkbox" (click) = "switchMarkForDeletion()">
              </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">OK</button>
                <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
            </div>
        </div>
    </form>
</div>
