<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <h1 class="pull-left"><a class='navbar-brand' [routerLink]="['/home']">ASH CRM</a> </h1>
            <button class="btn btn-primary pull-right" (click)="logOut()" type="button">Logout</button>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/entitymanager']">
                        <span class='glyphicon glyphicon-home'></span> Entity Manager
                    </a>
                </li>
                <li>
                    <a (click)="menu.crmClientBook.visible = !menu.crmClientBook.visible">
                        <span class='glyphicon glyphicon-th-list'></span> CRM Client Book
                    </a>
                    <ul [hidden] ="!menu.crmClientBook.visible">
                        <li [routerLinkActive]="['link-active']">
                            <a [routerLink]="['/clients']">
                                <span class='glyphicon glyphicon-th-list'></span> Clients
                            </a>
                        </li>
                        <li [routerLinkActive]="['link-active']">
                            <a [routerLink]="['/contacts']">
                                <span class='glyphicon glyphicon-th-list'></span> Contacts
                            </a>
                        </li>
                        <li [routerLinkActive]="['link-active']">
                            <a [routerLink]="['/addresses']">
                                <span class='glyphicon glyphicon-th-list'></span> Addresses
                            </a>
                        </li>
                        <li [routerLinkActive]="['link-active']">
                            <a [routerLink]="['/towns']">
                                <span class='glyphicon glyphicon-th-list'></span> Towns
                            </a>
                        </li>
                        <li [routerLinkActive]="['link-active']">
                            <a [routerLink]="['/counties']">
                                <span class='glyphicon glyphicon-th-list'></span> Counties
                            </a>
                        </li>
                        <li [routerLinkActive]="['link-active']">
                            <a [routerLink]="['/regions']">
                                <span class='glyphicon glyphicon-th-list'></span> Regions
                            </a>
                        </li>
                        <li [routerLinkActive]="['link-active']">
                            <a [routerLink]="['/countries']">
                                <span class='glyphicon glyphicon-th-list'></span> Countries
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
