// @import "../template-grid/grid-mixins.scss";

// table {
//     @include grid-table;

//     th {
//         @include grid-th;
//         .sort-icon {
//             float: right;
//         }
//     }

//     td {
//         @include grid-td;
//     }
// }

// h2 {
//     color: #8e8f92;
//     line-height: 5px;
//     font-family: $font-default-bold;
//     font-size: 16px;
//     height: 20px;
//     padding: 25px 0px 25px 0px;
// }
