<h2 *ngIf = "'heading'">{{heading}}</h2>
<p>This is a list of all the contacts.</p>
<div>
    <button (click)="this.addEmitter.emit();" type="button" class="btn btn-primary">Add</button>
    <button (click)="deleteEmitter.emit(data)" type="button" [disabled]="!markForDeletion" class="btn btn-danger">Delete</button>
</div>
<table class='table table-hover'>
  <thead>
      <tr>
          <th [ngClass]="{'text-center' : header.type == 'integer' }" *ngFor="let header of headers" class="clickable text-left" (click) = "sortTable(header)">
            <span>{{getTranslation(header.columnTranslationKey)}}</span>
            <span class="sort-icon"  [hidden] ="currentQuery.key !=header.propertyName">
                <i *ngIf="header.sort" class="fa" [ngClass]="{ 'fa-sort-amount-desc' : currentQuery.sortOrder == 'desc', 'fa-sort-amount-asc': currentQuery.sortOrder == 'asc'}"></i>
            </span>
          </th>
      </tr>
  </thead>
  <tbody *ngIf = "data && !isBusy">
      <tr (click) = "edit(dataItem)" *ngFor="let dataItem of (data | gridSort: query) | async | paginate: { itemsPerPage: itemsPerPage, currentPage: page , id: paginationId }">
          <td *ngFor="let header of headers" [ngClass]="{'text-center' : header.type == 'integer' }">
              <div *ngIf="header.type === 'action'" (mouseover)='checkBoxOver()'
                                                    (mouseout)='checkBoxOut()'
                                                    [ngClass]="{'disabled': !dataItem[header.propertyName] && !dataItem[header.propertyName]['selected']}">
                <input type="checkbox" [(ngModel)]="dataItem['selected']">
              </div>
              <a *ngIf="header.linkName !== ''" [ngStyle]="{ 'color': gridLinkColor }" class="ffsLink" [routerLink] ="[header.linkName, dataItem.countID]">
                  {{ getValue(dataItem, header) }}
              </a>
              <span *ngIf="(header.linkName == undefined || header.linkName === '') && header.type != 'OneToMany' && header.type !== 'action'"> {{ getValue(dataItem, header) }}</span>
              <div *ngIf="header.type == 'OneToMany'">
                  <div *ngFor="let item of dataItem[header.propertyName]">
                      {{ item }}
                  </div>
              </div>
          </td>
      </tr>
  </tbody>
</table>
