﻿ <div [formGroup]="group">
    <div class="form-group" [ngClass]="{'has-error':!group.controls['house-no'].valid}">
        <label for="name">House No</label>
        <input [formControl]="group.controls['house-no']" id="name" maxlength="100" class="form-control" />
        <div *ngIf="group.controls['house-no'].hasError('required') && group.controls['house-no'].touched" class="alert alert-danger"> House No is required.</div>
    </div>
    <div class="form-group" [ngClass]="{'has-error':!group.controls['street'].valid}">
        <label for="name">Street</label>
        <input [formControl]="group.controls['street']" id="name" maxlength="100" class="form-control" />
        <div *ngIf="group.controls['street'].hasError('required') && group.controls['street'].touched" class="alert alert-danger"> Street is required.</div>
    </div>
    <div class="form-group" [ngClass]="{'has-error':!group.controls['area'].valid}">
        <label for="name">Area</label>
        <input [formControl]="group.controls['area']" id="name" maxlength="100" class="form-control" />
        <div *ngIf="group.controls['area'].hasError('required') && group.controls['area'].touched" class="alert alert-danger"> Area is required.</div>
    </div>
    <div class="form-group" [ngClass]="{'has-error':!group.controls['town-city'].valid}">
        <label for="town-city">Town \ City</label>
        <select [formControl]="group.controls['town-city']" class="form-control ash-select"  [compareWith]="compareFn">
            <option *ngFor="let townCity of cityTowns" [ngValue]="townCity">{{townCity.name}}</option>
        </select>
        <div *ngIf="group.controls['town-city'].hasError('required') && group.controls['town-city'].touched" class="alert alert-danger"> Town is required.</div>
    </div>
    <div class="form-group" [ngClass]="{'has-error':!group.controls['post-code'].valid}">
        <label for="name">PostCode</label>
        <input [formControl]="group.controls['post-code']" id="name" maxlength="100" class="form-control" />
        <div *ngIf="group.controls['post-code'].hasError('required') && group.controls['post-code'].touched" class="alert alert-danger"> Postcode is required.</div>
    </div>
    <div class="form-group">
      <label for="name">Mark for Deletion</label>
      <input type="checkbox" (click) = "switchMarkForDeletion()">
    </div>
</div>
