body {
  background: transparent;
  margin: 0
}
table tr td input {
  padding-bottom:10px;
}

fieldset {
  padding-left: 5px;
  padding-right: 5px;
  border: solid;
  border-color:ButtonFace;
}

.centered-text {
  text-align: center
}

/*.form {

  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: calc(50vh - 220px) auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: 'Montserrat',sans-serif;
}*/

/*input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: 'Montserrat',sans-serif;
  transition: all .3s;
  border-bottom: 2px solid #bebed2
}*/

.ash-select {
  height:35px!important
}

.modal-dialog .modal-wide {
  width: auto;
}

.auth-body {
  height: 100%;
  background-image: url('./assets/AGILE LOGO WHITE RGB.jpg');
  background-repeat: no-repeat;
  background-size: 60% 100%;
}

html {
  height: 100%
}

