﻿<div *ngIf="!isBusy">
    <app-grid [gridLinkColor] = "'#01a7b7'"
        (deleteEmitter) = "deleteAll($event)"
        (openEmitter) = "show($event)"
        (addEmitter) = "openCreate()"
        [heading] = "'Address'"
        [tableHeaderTranslations] = "headerTranslation"
        [paginationId] = "'addressPagination'"
        [page] = "page"
        [data]= "data"
        [headers]="addressHeaders"
        [isBusy]="isBusy"></app-grid>
  </div>

